<!DOCTYPE html>
<html>
  <body>
   <h1>Ajout Bière -- ADMINISTRATION</h1>
    <p>     
         
        <p>
           <h2>Ajouter une bière</h2>
            <div class="well">
              {{ form(form) }}
            </div>           
        </p>        
     
    </ul>
  </body>
</html>
